<div id="container">
  <% @title="Of The Week" %>
  <h1>Find the best photo of the week for any subject</h1>
  
  <h2>Popular Photos This Week</h2>
  
  <% @popular.each do |photo| %>
    <span class="photo_thumbnail">
      <a href="<%= request.url + photo.tag %>">
        <img src="<%= photo.url_thumbnail %>">
      </a>
    </span>
  <% end %>
</div>