<h2>
  add a search term like this <%= request.url %>hippo
</h2>

<h2>Examples</h2>

<a href="<%= request.url %>pylon">Pylon</a>
<br />
<a href="<%= request.url %>car">Car</a>
<br />
<a href="<%= request.url %>cloud">Cloud</a>