// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin:10px 0px;
	padding:0px;
	background:image-url("handmadepaper.png")
}

#container {
	width:960px;
	margin:0px auto;
	padding:10px;
}

img {
  vertical-align:bottom;
}

.mainimage {
  float:left;
  border:2px solid black;
  clear:both;
}

.mainImageData {
  float:left;
  margin-top:5px;
  clear:both;
}