// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin:0 10px;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	background:image-url("handmadepaper.png");
	font-size:18px;
	color:black;
}

img {  
	vertical-align:bottom;
	border-style: none;
}

h2 {
	color:#00BB3F;
}

#header {
	height:40px;
	margin:3px 0 3px 0;
	border-bottom:3px dotted black;
	
	a {
		text-decoration:none;
		color:black;
	}
	
	.logo {
		font-size:32px;
		color:#FF2800;
	}
}



#container {
	width:960px;
	margin:0px auto;
	padding:0;
}

.photo_thumbnail {
	float:left;
	margin:5px;
	box-shadow: 3px 3px 3px #AAA;
	-moz-box-shadow: 3px 3px 3px #AAA;
	-webkit-box-shadow: 3px 3px 3px #AAA;
}

.mainimage {
  float:left;
  border:2px solid black;
  clear:both;
}

.mainImageData {
  float:left;
  margin-top:5px;
  clear:both;
}