// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin:0 10px;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	background:image-url("handmadepaper.png");
	font-size:18px;
	color:black;
}

img {  
	vertical-align:bottom;
	border-style: none;
}

h1 {
	color:#0C5DA5;
}

h2 {
	color:#00AC6B;
}

#header {
	min-width:480px;
	height:38px;
	margin:3px 0 3px 0;
	border-bottom:3px dotted black;
	line-height:38px;
	margin-bottom:20px;
	
	a {
		text-decoration:none;
		color:black;
	}
	
	.logo {
		float:left;
		width:220px;
		font-size:32px;
		color:#FF4F00;
	}
	
	.search {
		text-align:right;
		float:right;
		width:340px;
		margin-top:4px;
	}
}

#container {
	width:960px;
	margin:0px auto;
	padding:0;
	
	a {
		color:#0C5DA5;
		text-decoration:none;
	}
	
	.photo_thumbnails_container {
		float:left;
		clear:both;
		margin-bottom:20px;
	}
	
	.photos_row {
		float:left;
		clear:both;
		
		.photo_thumbnail {
			float:left;
			margin:5px;
			box-shadow: 3px 3px 3px #AAA;
			-moz-box-shadow: 3px 3px 3px #AAA;
			-webkit-box-shadow: 3px 3px 3px #AAA;
		}
	}


	.mainimage {
	  float:left;
		margin:10px 0 15px 0;
	  border:2px solid black;
	  clear:both;
	}

	.mainImageData {
	  float:left;
	  clear:both;
	}
}