<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  
  <style>
    body {
    	margin:10px 0px;
    	padding:0px;
    	background:#FAFAFA;
    }

    #container {
    	width:960px;
    	margin:0px auto;
    	padding:10px;
    }
    
    img {
      vertical-align:bottom;
    }
    
    .mainimage {
      float:left;
      border:2px solid black;
    }
  </style>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28341467-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<%= yield %>

</body>
</html>
